src/frontend/node_modules
src/frontend/dist
src/frontend/src/assets/.DS_Store
src/frontend/src/assets/images/.DS_Store
src/frontend/public/.DS_Store
src/.DS_Store
src/frontend/.DS_Store
src/frontend/src/.DS_Store
